h1, h2, h3, h4, h5, h6 {
    margin: 0.5rem;
}

.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    align-items: center;
    margin-bottom: 0.5rem;
}

.header img {
    margin: 10px;
    width: 100px;
}

.header p {
    margin: 0.5rem;
}

.left_sub_header {
    display: flex;
    justify-content: space-between;
}

.button {
    color: inherit;
    margin: 0.5rem;
    padding: 0.5rem;
    border: 1px solid black;
    text-decoration: none;
}

button {
    background: white;
    color: inherit;
    margin: 0.5rem;
    padding: 0.5rem;
    border: 1px solid black;
    outline:none;
}

button:hover, .button:hover {
    text-shadow:0px 0px 1px black;
}

.error {
    color: red;
}

.success {
    color: green;
}



.main {
    padding: 1rem;
    border: 1px solid black;
}

table {
    margin: 0.5rem;
}

.page_centered_div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px black solid;
    padding: 1rem;
    margin-bottom: 0.5rem;
}

.hidden {
    display: none;
}

.row {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.item-right {
    justify-content: center;
}

label {
    margin-right: 5px;
}

input[type=text], input[type=email], input[type=password], input[type=date] {
    border: 1px solid black;
}

input[type=submit] {
    margin: 0.5rem;
    padding: 0.5rem;
    border: 1px solid black;
    cursor: pointer;
}

.post {
    border: 1px black solid;
    padding: 0.5rem;
    display: grid;
    grid-template-columns: 5% 95%;
    max-width: 60%;
    min-height: 10rem;
    margin-bottom: 1rem;
}

.post-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-sidebar button {
    margin: 0;
    padding: 5px;
    border: none;
    cursor: pointer;
}

.post-sidebar p {
    margin: 5px;
}

.upvote {

}

.post-content {
    border: 1px black dotted;
    margin-left: 0.5rem;
}

.post-content p{
    margin: 0;
}

.post-header {
    padding-left: 0.5rem;
    display: flex;
    align-items: center;
}

.post-header .user {
    margin: 0.5rem;
    font-weight: bold;
}

.post-header .date {
    font-size: small;
    font-weight: normal;
}

.post-header .remove-post {
    margin-left: auto;
}

.post-header .remove-post input[type="submit"] {
    border: none;
    background-color: red;
    color: white;
}

.post-title {
    font-size: x-large;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    word-break: break-all;
}

.post-text {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding-top: 0.5rem;
    word-break: break-all;
}

.post-footer {
    justify-content: space-between;
    display: flex;
    align-items: flex-end;
    margin-left: 0.5rem;
}

.post-footer p {
    margin: 0.5rem 0.5rem 0.5rem 0;
}

.likeClicked{
    color: blue;
}

.dislikeClicked{
    color: red;
}


.likeCommentClicked{
    color: blue;
}

.dislikeCommentClicked{
    color: red;
}