h1, h2, h3, h4, h5, h6 {
    margin: 0.5rem;
}

.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    align-items: center;
    margin-bottom: 0.5rem;
}

.header img {
    margin: 10px;
    width: 100px;
}

.header p {
    margin: 0.5rem;
}

.left_sub_header {
    display: flex;
    justify-content: space-between;
}

.button {
    color: inherit;
    margin: 0.5rem;
    padding: 0.5rem;
    border: 1px solid black;
    text-decoration: none;
}

button {
    background: white;
    color: inherit;
    margin: 0.5rem;
    padding: 0.5rem;
    border: 1px solid black;
    outline:none;
}

button:hover, .button:hover {
    text-shadow:0px 0px 1px black;
}

.error {
    color: red;
}

.success {
    color: green;
}



.main {
    padding: 1rem;
    border: 1px solid black;
}

table {
    margin: 0.5rem;
}

.page_centered_div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px black solid;
    padding: 1rem;
    margin-bottom: 0.5rem;
}

.hidden {
    display: none;
}

.row {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.item-right {
    justify-content: center;
}

label {
    margin-right: 5px;
}

input[type=text], input[type=password], input[type=date] {
    border: 1px solid black;
}

input[type=submit] {
    margin: 0.5rem;
    padding: 0.5rem;
    border: 1px solid black;
    cursor: pointer;
}