<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Change password</title>
</head>
<body>

<p th:if="${changePasswordError}" class="error">Error</p> <!--custom text? -->

<form th:action="@{/process_changepassword}" method="post">
    <label for="old_password">Old password</label>:
    <input type="password" id="old_password" name="old_password" autofocus="autofocus" /><br />
    <label for="new_password">New Password</label>:
    <input type="password" id="new_password" name="new_password" /><br />
    <label for="repeat_new_password">Repeat new Password</label>:
    <input type="password" id="repeat_new_password" name="repeat_new_password" /><br />
    <p th:if="${passwordError != null}" th:text="${passwordError}"></p>
    <a href="/myaccount">Go back</a>
    <input type="submit" value="Change Password" /> <br />
</form>
</body>
</html>