<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="ISO-8859-1">
        <title>Feddit</title>
        <link th:href="@{/css/main.css}" rel="styLesheet" />
    </head>
    <body>
        <!-- HEADER -->
        <div class="header">
            <img src="../static/images/logo.png" th:src="@{images/logo.png}"/>
            <h3 sec:authorize="isAuthenticated()">[[${#request.userPrincipal.principal.fullName}]]</h3>
            <div>
                <div class="left_sub_header" sec:authorize="isAuthenticated()">
                    <p><a href="/myaccount" class="button">Account</a></p>
                </div>
                <div class="left_sub_header" sec:authorize="isAnonymous()">
                    <p><a href="/signup" class="button" >Sign Up</a></p>
                    <p><a href="/login" class="button" >Login</a></p>
                </div>
            </div>
        </div>
        <!-- MAIN BODY -->
        <div class="main">

            <div class="add_post" sec:authorize="isAuthenticated()">
                <form class="form" th:action="@{/addpost}" th:object="${post}" method="post">
                    <div class="row">
                        <label for="title">Title</label>
                        <input type="text" th:field="*{title}" id="title" name="title" autofocus="autofocus" required/>
                    </div>

                    <div class="row">
                        <label for="content">Content</label>
                        <input type="text" th:field="*{content}" id="content" name="content" autofocus="autofocus" required/>
                    </div>

                    <div class="row">
                        <input type="submit" value="Add Post" />
                    </div>

                    <br>
                    <br>
                </form>
                <p th:text="${postAdded}" class="success"></p>
            </div>

            <div th:each="post: ${posts}" class="post">
                <div class="post-sidebar">
                    <button sec:authorize="isAuthenticated()">up</button>
                    <p class="date" th:with="result=${post.key.upVotes - post.key.downVotes}" th:text="${result}"></p>
                    <button sec:authorize="isAuthenticated()">down</button>
                </div>
                <div class="post-content">
                    <div class="post-header">
                        Posted by <p class="user" th:text="${post.key.user.username}"></p>
                        <p class="date" th:text="${post.key.creationDate}"></p>
                        <form action="#" th:action="@{'/removePost/{id}'(id=${post.key.id})}" th:method="delete" >
                            <input type="hidden" name="_method" value="delete" />
                            <button type="submit" sec:authorize="hasAuthority('ADMIN')" class="remove-post" >X</button>
                        </form>
                        <p th:text="${postRemoved}" class="success"></p>
                    </div>
                    <div class="post-title">
                        <p th:text="${post.key.title}"></p>
                    </div>
                    <div class="post-text">
                        <p th:text="${post.key.content}"></p>
                    </div>
                    <div class="post-footer">
                        <p th:text="${post.value}  + ' comments'"> </p>
                        <a class="button" href="/viewpost">View full discussion</a>
                    </div>
                </div>

            </div>

        </div>
    </body>
</html>