<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml">
    <section layout:fragment="comment_section">
        <ul>
            <li th:each="c : ${object.comments}">
                <p th:text="${c.content}"></p>
                <form class="form" method="post" th:action="@{/add_comment}" sec:authorize="isAuthenticated()">
                    <div class="row">
                        <input type="text" placeholder="Insert your comment here" required
                               name="content" th:value="${content}"/>
                        <!--<input type="hidden" name="parent" th:value="${c}"/>-->
                        <input type="hidden" name="post" th:value="${post.id}"/>
                    </div>
                    <div class="row item-right">
                        <input type="submit" value="Add comment" />
                    </div>
                </form>
                <section layout:include="@{/postFragment.html} :: comment_section" th:with="object=${c}"></section>
            </li>
        </ul>
    </section>
    <form class="form" method="post" th:action="@{/add_comment}" sec:authorize="isAuthenticated()">
        <div class="row">
            <input type="text" placeholder="Insert your comment here" required
                   name="content" th:value="${content}"/>
            <!--<input type="hidden" name="parent" th:value="${post}"/>-->
            <input type="hidden" name="post" th:value="${post.id}"/>
        </div>
        <div class="row item-right">
            <input type="submit" value="Add comment" />
        </div>
    </form>
</html>