<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml">
    <section layout:fragment="comment_section">
        <ul>
            <li th:each="c : ${object.comments}">
                <p th:text="${c.content}"></p>
                <form method="post"
                      th:if="${#authorization.expression('hasAuthority(''ADMIN'')') or
                      (#authorization.expression('isAuthenticated()') and c.user.id == #request.userPrincipal.principal.id) }"
                      th:action="@{/delete_comment}">
                    <input type="hidden" name="id" th:value="${c.id}" />
                    <input type="submit" value="X" />
                </form>
                <form class="form" method="post" th:action="@{/add_comment}" sec:authorize="isAuthenticated()">
                    <div class="row">
                        <input type="text" placeholder="Insert your comment here" required
                               name="content" th:value="${content}"/>
                        <input type="hidden" name="parent_type" th:value="${c.getClazz()}"/>
                        <input type="hidden" name="parent_id" th:value="${c.id}"/>
                        <input type="hidden" name="post" th:value="${post.id}"/>
                    </div>
                    <div class="row item-right">
                        <input type="submit" value="Add comment" />
                    </div>
                </form>
                <section layout:include="@{/postFragment.html} :: comment_section" th:with="object=${c}"></section>
            </li>
        </ul>
    </section>
</html>